doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    title Business
  body
    h1 This is a cool project
    .test Pug is good
    a(href="#" alt="test") This is link!
    p.main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero porro ipsa nostrum at enim sunt adipisci, doloribus nobis sint. Quibusdam deleniti vel consectetur, officia, saepe odit numquam illum reiciendis recusandae.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis aspernatur, molestias distinctio praesentium obcaecati aliquam quae, exercitationem, vero nobis nisi. Maxime maiores obcaecati ducimus suscipit enim natus, cupiditate illum!
    